@using Final.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<!DOCTYPE html>
<HTML lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"]</title>
    <!-- Canonical SEO -->
    <link rel="canonical" href="http://www.creative-tim.com/product/paper-dashboard-pro" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Paper Dashboard core CSS    -->
    <link href="../../assets/css/paper-dashboard23cd.css?v=1.2.1" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../../assets/css/demo.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="~/bootstrapcdn/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../../assets/css/themify-icons.css" rel="stylesheet">

    <link rel='stylesheet' type='text/css' href='~/assets/css/style.css' />
    <link rel='stylesheet' type='text/css' href='~/assets/css/print.css' media="print" />
    <script type='text/javascript' src='~/assets/js/jquery-1.3.2.min.js'></script>
    <script type='text/javascript' src='~/assets/js/example.js'></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-background-color="brown" data-active-color="danger">
            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->
            <div class="logo">
                <a asp-area="" asp-controller="Manage" asp-action="Overview" class="simple-text logo-mini">
                    SS
                </a>
                <a asp-area="" asp-controller="Manage" asp-action="Overview" class="simple-text logo-normal">
                    Simple Store
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="../../assets/img/faces/face-2.jpg" />
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                Chet Faker
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li class="@ManageNavPages.IndexNavClass(ViewContext)">
                                    <a asp-action="Index">
                                        <span class="sidebar-mini">Pr</span>
                                        <span class="sidebar-normal">Profile</span>
                                    </a>
                                </li>
                                <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">
                                    <a asp-action="ChangePassword">
                                        <span class="sidebar-mini">Pw</span>
                                        <span class="sidebar-normal">Password</span>
                                    </a>
                                </li>
                                @if (hasExternalLogins)
                                {
                                    <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">
                                        <a asp-action="ExternalLogins">
                                            <span class="sidebar-mini">EL</span>
                                            <span class="sidebar-normal">External logins</span>
                                        </a>
                                    </li>
                                }
                                <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
                                    <a asp-action="TwoFactorAuthentication">
                                        <span class="sidebar-mini">2F</span>
                                        <span class="sidebar-normal">Two-Factor Authentication</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="@ViewData["Dashboard"]">
                        <a data-toggle="collapse" href="#dashboardOverview" aria-expanded="@ViewData["DashboardExpanded"]">
                            <i class="ti-panel"></i>
                            <p>
                                Dashboard
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse @ViewData["CollapsedIn"]" id="dashboardOverview">
                            <ul class="nav">
                                <li class="@ViewData["Overview"]">
                                    <a asp-area="" asp-controller="Manage" asp-action="Overview" asp-fragment="">
                                        <span class="sidebar-mini">O</span>
                                        <span class="sidebar-normal">Overview</span>
                                    </a>
                                </li>
                                <li class="@ViewData["Stats"]">
                                    <a asp-area="" asp-controller="Manage" asp-action="Stats" asp-fragment="">
                                        <span class="sidebar-mini">S</span>
                                        <span class="sidebar-normal">Stats</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="@ViewData["Stock"]">
                        <a asp-area="" asp-controller="Manage" asp-action="Stock" asp-fragment="">
                            <i class="ti-package"></i>
                            <p>Stock</p>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#formsExamples">
                            <i class="ti-clipboard"></i>
                            <p>
                                Checkout
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="formsExamples">
                            <ul class="nav">
                                <li>
                                    <a asp-area="" asp-controller="Manage" asp-action="Cashier" asp-fragment="">
                                        <span class="sidebar-mini">$$</span>
                                        <span class="sidebar-normal">Cashier</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../forms/extended.html">
                                        <span class="sidebar-mini">Ef</span>
                                        <span class="sidebar-normal">Extended Forms</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../forms/validation.html">
                                        <span class="sidebar-mini">Vf</span>
                                        <span class="sidebar-normal">Validation Forms</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../forms/wizard.html">
                                        <span class="sidebar-mini">W</span>
                                        <span class="sidebar-normal">Wizard</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="@ViewData["Employee"]">
                        <a data-toggle="collapse" href="#tablesExamples">
                            <i class="ti-view-list-alt"></i>
                            <p>
                                Employees
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="tablesExamples">
                            <ul class="nav">
                                <li>
                                    <a href="../tables/regular.html">
                                        <span class="sidebar-mini">PS</span>
                                        <span class="sidebar-normal">Paysheet</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Manage" asp-action="Employee" asp-fragment="">
                                        <span class="sidebar-mini">EL</span>
                                        <span class="sidebar-normal">Employee list</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="../calendar.html">
                            <i class="ti-calendar"></i>
                            <p>Calendar</p>
                        </a>
                    </li>
                    <li>
                        <a href="../charts.html">
                            <i class="ti-bar-chart-alt"></i>
                            <p>Charts</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#userpage">@ViewData["Title"]</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <form class="navbar-form navbar-left navbar-search-form" role="search">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" value="" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#stats" class="dropdown-toggle btn-magnify" data-toggle="dropdown">
                                    <i class="ti-panel"></i>
                                    <p>Stats</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#notifications" class="dropdown-toggle btn-rotate" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <span class="notification">5</span>
                                    <p class="hidden-md hidden-lg">
                                        Notifications
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#not1">Notification 1</a></li>
                                    <li><a href="#not2">Notification 2</a></li>
                                    <li><a href="#not3">Notification 3</a></li>
                                    <li><a href="#not4">Notification 4</a></li>
                                    <li><a href="#another">Another notification</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#settings" class="btn-rotate">
                                    <i class="ti-settings"></i>
                                    <p class="hidden-md hidden-lg">
                                        Settings
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="https://github.com/Freddyerf" target="_blank">Freddyerf</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>

</HTML>